<% if (errors) { %>
<ul class='list-group'>
    <% Object.keys(errors).forEach((attribute) => { %>
    <% Object.values(errors[attribute]).forEach((err) => { %>
    <li class='list-group-item'>
        <div class="alert alert-danger" role="alert">
        <%= err %>
    </div>
    </li>
    <% }); %>
    <% }); %>
</ul>
<% } %>